@model List<UserListView>


<h2 class="h2 text-center">User List </h2>
<a asp-controller="Home" asp-action="Create" class="btn btn-primary">Add User</a>
<hr />
<table class="table table-bordered table-hover">
    <thead>
        <th style="width:50px">Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Birthday</th>
        <th style="width:50px">Active</th>
        <th style="width:200px">İşlemler</th>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.LastName</td>
                <td>@user.Birthday.ToString("yyyy-MM-dd")</td>
                <td><span class="badge text-bg-@(user.IsActive == true ? "success" : "danger")">@(user.IsActive == true ? "Active" : "InActive")</span></td>
                <td>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@user.Id" class="btn btn-sm btn-secondary">Details</a>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
     
    </tbody>
</tabl>